# vim: ft=systemd

[Unit]
Description=DDNS name for %i
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/ddns/%i.conf
ExecStart=bash -ceu 'curl -4fs "https://$HOSTNAME:$DDNS_KEY@$BASE_URL/nic/update?hostname=$HOSTNAME"'

ProtectHome=read-only
SystemCallArchitectures=native
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
UMask=0777
RestrictAddressFamilies=AF_INET
RestrictNamespaces=yes
SystemCallFilter=~@privileged @resources
